@media (min-width:1000px){
    main{
        .main_container{
            .fondo_home{
                background-position: 50% 10%;
            }
            .main_slogan{
                left: 30%;
                width: 500px;
                transform: translate(-50%,-50%);
                h1{
                    align-self: flex-start;
                    font-size: 8rem;
                }
            }
        }
        
    }
}