main{
    position: relative;
    overflow-x: hidden;
    .main_container{
        position: relative;
        .fondo_home{
            position: relative;
            width: 100%;
            height: calc(100vh + 100px);
            background-image: url("../../assets/home.jpg");
            background-position: 75% 50%;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -1;
            .capa{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #00000085;
                z-index: -1;
            }
        }
        .main_slogan{
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            padding: 20px;
            color: #ffffff;
            text-align: center;
            z-index: 1;
            h1{
                font-family: Logo;
                font-size: 6rem;
                text-shadow: 0 0 10px #000000;
            }
            p{
                font-size: 2rem;
                font-style: italic;
                text-shadow: 0 0 10px #000000;
            }
            .boton{
                text-decoration: none;
                font-size: 1rem;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
                background: transparent;
                margin-top: 10px;
                position: relative;
                border: none;
                overflow: hidden;
                transition: all 500ms ease-out;
                .bg {
                    animation:slide 3s ease-in-out infinite alternate;
                    background-image: linear-gradient(-60deg, $colorRed 50%, #460000 50%);
                    bottom:0;
                    left:-50%;
                    opacity:.5;
                    position:absolute;
                    right:-50%;
                    top:0;
                    z-index:-1;
                }
                
                .bg2 {
                  position: absolute;
                  animation-direction:alternate-reverse;
                  animation-duration:4s;
                }
                
                .bg3 {
                  position: absolute;
                  animation-duration:5s;
                }
                &:hover{
                    transform: scale(1.05);
                    transition: all 500ms ease-out;
                }
            }
        }
        .wabe{
            position: absolute;
            width: 100%;
            bottom: 0;
            z-index: -1;
            img{
                width: 100%;
                height: 100px;
                vertical-align: bottom;
                filter: drop-shadow(-5px -5px 20px #000);
            }
        }
    }
    .productosDestacados{
        background-color: #fff;
        h3{
            font-size: 3rem;
            font-family: Logo;
            text-align: center;
            padding: 20px 0px 50px 0px;
        }
        .destacados{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(100%,20rem),1fr));
            grid-auto-rows: 20rem;
            gap: 1rem;
            padding: 1rem;
            justify-items: center;
            position: relative;
            .vinos{
                position: relative;
                width: 20rem;
                height: 20rem;
                box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -5px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .price{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 110px;
                    height: 50px;
                    background-image: url("/assets/price.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 50%, 50%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    .precio{
                        color: rgb(255, 255, 255);
                        text-shadow: 0 0 10px #000000;
                        font-size: 1.2rem;
                        font-weight: bold;
                        z-index: 1;
                        padding-right: 8px;
                    }
                }
                .button-shop-destacados{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 35px;
                    height: 35px;
                    background: transparent;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: all 300ms ease-out;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .icono-shop-destacados{
                        font-size: 1.5rem;
                        transition: all 300ms ease-out;
                    }
                    &:hover{
                        transform: scale(1.1);
                    }
                    &:hover .icono-shop-destacados{
                        transform: rotate(-5deg);
                        color: #460000;
                    }
                }
                .vino_img{
                    width: 80%;
                    height: 80%;
                }
                .variedad_xs{
                    color: #9b9b9b;
                }
                .nombre_xs{
                    font-size: 1.2rem;
                    font-weight: 300;
                }
                &:hover{
                    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                }
                &:hover .slaid{
                    top: 0;
                    opacity: 1;
                }
            }
            .slaid{
                display: none;
                position: absolute;
                color: rgb(0, 0, 0);
                background-color: #ffffff9d;
                width: 100%;
                height: 100%;
                top: 10%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                opacity: 0;
                transition: all 0.5s ease;
                cursor: pointer;
                .nombre{
                    text-align: center;
                    font-weight: 600;
                    font-size: 1.6rem;
                    font-style: italic;
                }
                .variedad{
                    font-size: 1.2rem;
                }
                .bodega{
                    font-size: 1.4rem;
                }

            }
        }
    }
}