main{
    position: relative;
    overflow-x: hidden;
    .main_container{
        position: relative;
        .fondo_home{
            position: relative;
            width: 100%;
            height: calc(100vh + 100px);
            background-image: url("../../assets/home.jpg");
            background-position: 75% 50%;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -1;
            .capa{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #00000085;
                z-index: -1;
            }
        }
        .main_slogan{
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            padding: 20px;
            color: #ffffff;
            text-align: center;
            z-index: 1;
            h1{
                font-family: Logo;
                font-size: 6rem;
                text-shadow: 0 0 10px #000000;
            }
            p{
                font-size: 2rem;
                font-style: italic;
                text-shadow: 0 0 10px #000000;
            }
            .boton{
                text-decoration: none;
                font-size: 1rem;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
                background: transparent;
                margin-top: 10px;
                position: relative;
                border: none;
                overflow: hidden;
                transition: all 500ms ease-out;
                .bg {
                    animation:slide 3s ease-in-out infinite alternate;
                    background-image: linear-gradient(-60deg, $colorRed 50%, #460000 50%);
                    bottom:0;
                    left:-50%;
                    opacity:.5;
                    position:absolute;
                    right:-50%;
                    top:0;
                    z-index:-1;
                }
                
                .bg2 {
                  position: absolute;
                  animation-direction:alternate-reverse;
                  animation-duration:4s;
                }
                
                .bg3 {
                  position: absolute;
                  animation-duration:5s;
                }
                &:hover{
                    transform: scale(1.05);
                    transition: all 500ms ease-out;
                }
            }
        }
        .wabe{
            position: absolute;
            width: 100%;
            bottom: 0;
            z-index: -1;
            img{
                width: 100%;
                height: 100px;
                vertical-align: bottom;
                filter: drop-shadow(-5px -5px 20px #000);
            }
        }
    }
    .productosDestacados{
        position: relative;
        background-color: #fff;
        margin-bottom: 30px;
        h3{
            font-size: 3rem;
            font-family: Logo;
            font-weight: 500;
            text-align: center;
            padding: 20px 0px 50px 0px;
        }
        .carrusel{
            position: relative;
            .destacados{
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 22rem;
                padding-top: 1rem;
                .vinos{
                    position: relative;
                    width: 20rem !important;
                    height: 20rem !important;
                    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    .price{
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        width: 110px;
                        height: 50px;
                        background-image: url("../../assets/price.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: 50%, 50%;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        z-index: 1;
                        .precio{
                            color: rgb(255, 255, 255);
                            text-shadow: 0 0 10px #000000;
                            font-size: 1.2rem;
                            font-weight: bold;
                            z-index: 1;
                            padding-right: 8px;
                        }
                    }
                    .button-shop-destacados{
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        width: 35px;
                        height: 35px;
                        background: transparent;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        transition: all 300ms ease-out;
                        z-index: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .icono-shop-destacados{
                            position: relative;
                            font-size: 2rem;
                            overflow: visible;
                            transition: all 300ms ease-out;
                        }
                        .cant-shop{
                            opacity: 0;
                            position: absolute;
                            top: -3px;
                            right: -3px;
                            width: 20px;
                            height: 20px;
                            border-radius: 50% 50%;
                            background-color: $colorRed;
                            color: #ffffff;
                        }
                        .cant-shop-active{
                            opacity: 1;
                        }
                        &:hover{
                            transform: scale(1.1);
                        }
                        &:hover .icono-shop-destacados{
                            transform: rotate(-5deg);
                            color: #460000;
                        }
                    }
                    .vino_img{
                        width: 80%;
                        height: 80%;
                        transition: transform 300ms ease-out;
                    }
                    .variedad_xs{
                        color: #9b9b9b;
                    }
                    .nombre_xs{
                        font-size: 1.2rem;
                        font-weight: 300;
                    }
                    &:hover .vino_img{
                        transform: scale(1.02);
                    }
                }
                .slaid{
                    display: none;
                    position: absolute;
                    color: rgb(0, 0, 0);
                    background-color: #ffffffb2;
                    width: 100%;
                    height: 100%;
                    top: 10%;
                    flex-direction: column;
                    justify-content: end;
                    align-items: center;
                    gap: 10px;
                    padding-bottom: 30px;
                    opacity: 0;
                    transition: all 0.5s ease;
                    cursor: pointer;
                    .nombre{
                        text-align: center;
                        font-weight: 600;
                        font-size: 1.6rem;
                        font-style: italic;
                    }
                    .variedad{
                        color: #676767;
                        font-size: 1.2rem;
                    }
                    .bodega{
                        font-size: 1.4rem;
                    }
                }
            }
            .carrusel-anterior,.carrusel-siguiente{
                position: absolute;
                z-index: 100;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
                .carrusel-arrow{
                    opacity: 0.5;
                    font-size: 1.5rem;
                    transition: opacity 0.5s;
                }
                &:hover .carrusel-arrow{
                    opacity: 1;
                }
            }
            .carrusel-anterior{
                left: 20px;
            }
            .carrusel-siguiente{
                right: 20px;
            }
        }
        .dots{
            .glider-dot{
                display: block;
                width: 30px;
                height: 4px;
                background: #000000;
                opacity: 0.5;
                border-radius: 0;
                transition: opacity 0.5s;
                &:hover{
                    opacity: 1;
                }
            }
            .glider-dot.active{
                opacity: 1;
            }
        }
    }
    .contact-conten{
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
        background-color: #a80000;
        width: 100%;
        height: 460px;
        position: relative;
        z-index: 0;
        padding: 50px 0px;
        .wabeContact{
            position: absolute;
            width: 100%;
            top: -20px;
            left: 0;
            transform: rotate(180deg);
            img{
                width: 100%;
                height: 100px;
            }
        }
        h3{
            font-size: 3rem;
            font-family: Logo;
            font-weight: 500;
            text-align: center;
        }
        .form-contact{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            width: 90%;
            max-width: 320px;
            .contact-nombre{
                position: relative;
                width: 90%;
                max-width: 400px;
                margin: auto;
                .contact-nombre-input{
                    width: 100%;
                    position: relative;
                    z-index: 1;
                    border: none;
                    border-bottom: 1px solid #000000;
                    background-color: transparent;
                    outline: none;
                    padding: 5px;
                }
                .contact-nombre-label{
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    transition: all 300ms ease;
                }
                .contact-label-up{
                    transition: all 300ms ease;
                    top: -10px;
                    left: 0;
                    font-size: 0.7rem;
                }
                .contact-nombre-mensaje{
                    position: absolute;
                    bottom: -25px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 0.8rem;
                    width: 80%;
                    text-align: center;
                    background-color: #00000085;
                    color: #ffffff;
                    border-radius: 6px;
                    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.45em, 
                    rgba(90, 125, 188, 0.05) 0px 0.45em 1em;
                    opacity: 0;
                }
            }
            .contact-email{
                @extend .contact-nombre;
                .email-ok{
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    width: 100px;
                    background-color: #000
                }
                .contact-email-input{
                    @extend .contact-nombre-input;
                }
                .contact-email-label{
                    @extend .contact-nombre-label;
                }
                .chackEmail{
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%)
                }
                .chackEmailShow{
                    opacity: 1;
                }
                .shake-horizontal {
                    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                }
                .contact-email-mensaje{
                    @extend .contact-nombre-mensaje;
                }
            }
            .contact-text{
                @extend .contact-nombre;
                .contact-text-textarea{
                    @extend .contact-nombre-input;
                    resize:vertical;
                    min-height: 50px;
                    max-height: 100px;
                }.contact-text-label{
                    @extend .contact-nombre-label;
                }
                .contact-text-mensaje{
                    @extend .contact-nombre-mensaje;
                }
            }
            .contact-enviado-mensaje{
                position: absolute;
                bottom: -95px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 0.8rem;
                width: 80%;
                text-align: center;
                background-color: #00000085;
                color: #ffffff;
                border-radius: 6px;
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.45em, 
                rgba(90, 125, 188, 0.05) 0px 0.45em 1em;
                opacity: 0;
            }
            .buttonContacto{
                position: absolute;
                background-color: transparent;
                bottom: -70px;
                left: 50%;
                transform: translateX(-50%);
                width: 60%;
                height: 40px;
                border: none;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
                transition: all 500ms ease;
                cursor: pointer;
                outline: none;
                font-size: 1rem;
                overflow: hidden;
                span {
                    position: absolute;
                    background: #000000;;
                    transition: .5s;
                    &:nth-child(1) {
                        width: 100%;
                        height: 2px;
                        top: 0;
                        left: -100%;
                    }
                    &:nth-child(2) {
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        right: -100%;
                    }
                    &:nth-child(3) {
                        width: 2px;
                        height: 100%;
                        bottom: -100%;
                        left: 0;
                    }
                    &:nth-child(4) {
                        width: 2px;
                        height: 100%;
                        top: -100%;
                        right: 0;
                    }
                }
                &:hover span:nth-child(1) {
                    left: 0;
                }
                &:hover span:nth-child(2) {
                    right: 0;
                }
                &:hover span:nth-child(3) {
                    bottom: 0;
                }
                &:hover span:nth-child(4) {
                    top: 0;
                }
                &:hover{
                    font-size: 1.1rem;
                }
            }
            .show{
                animation: showMensaje 5s ;
            }
        }
    }
}
.toastify{
    font-size: 0.8rem;
    text-align: center;
    padding: 10px 15px;
}
.masCantidad{
    max-width: 300px;
}
